@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    height: 100vh;
}

.first-container {
    text-align: center;
}

.image1 {
    width: 100%;
    background-size: cover;
}

.para1 {
    color: #fc0384;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 25px;
}

.second-container {
    background-color: #039481;

    height: 70vh;
}

.head2 {
    color: white;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 30px;
}

.image2 {
    height: 70px;
    width: 80px;
    background-size: cover;
}

.user-input {
    color: black;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 220px;
    height: 45px;
}

.button2 {
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 10px;
    padding-bottom: 40px;
}

.result {
    font-family: "OpenSans";
    font-weight: 500;
    color: white;
    height: 40px;
    font-size: 25px;
}